<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
    <link href="./css/global.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Players</h1>
        <div class="createPlayerDiv">
            <a href="./new.html" class="createPlayer">⚽</a><span class="createPlayerHover">Create new player</span>
        </div>
        <div class="playersContainer" id="playersContainer">
            
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>